---
title: KodeBeagle
layout: repository
stylesheet: repoexplore/index.css
basepath: ../
---
{% raw %}
<div ng-controller="repoExplorerController" 
      class="container repoexplorer" style="max-width:900px;">
      <!-- <div class="row line-chart">
        <linechart data="data" options="options"></linechart>
      </div> -->
    <div ng-if="!dataLoaded" class="message">
      <p ng-if="!showMessage">loading...</p>
      <p ng-if="showMessage">Ooops.... did not find any thing</p>
    </div>
    <div ng-if="dataLoaded">
      <h3><a ng-href="https://github.com/{{summary.fullName}}"><ins>{{summary.fullName}}</ins></a></h3>
      <div class="mostchanged">
        <h4>Most Changed</h4>
        <a ng-repeat="mostChanged in mostChanged | limitTo:10 | orderBy:-'mostChanged'"
            ng-href="./../explore?filename={{summary.fullName}}/{{mostChanged}}"
        >{{mostChanged}}</a>
      </div>
      <div class="summary">
        <h4>Summary</h4>
        <div class="row">
          <div class="col-sm-6">
            <div>
              <label>Default Branch</label>
              <span ng-bind="summary.defaultBranch"></span>  
            </div>
            <div>
              <label>Forks Count</label>
              <span ng-bind="summary.forksCount | countFormatter"></span>
            </div>
            <div>
              <label>Language</label>
              <span ng-bind="summary.language"></span>
            </div>
            <div>
              <label>Login/Name</label>
              <span>{{summary.login}}/{{summary.name}}</span>
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <label>Size</label>
              <span ng-bind="summary.size | countFormatter"></span> 
            </div>
            <div>
              <label>Stargazers Count</label>
              <span ng-bind="summary.stargazersCount | countFormatter"></span>
            </div>
            <div>
              <label>Subscribers Count</label>
              <span ng-bind="summary.subscribersCount | countFormatter"></span>
            </div>
            <div>
              <label>Watchers Count</label>
              <span ng-bind="summary.watchersCount | countFormatter"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endraw %}

<script type="text/javascript">
    basepath = '../';
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.9.3/lodash.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.6.6/jquery.fullPage.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.9/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.2/ui-bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.2/ui-bootstrap-tpls.js"></script>
<script src="../library/dev/js/factories/http-service.js"></script>
<script src="../library/dev/js/modules/session-storage.js"></script>
<script type="text/javascript">
    (function( angular, kb ) {
      window.KB = kb;
      kb.module = angular.module('KodeBeagleRepoExplore', 
          ['httpSerivice', 'ui.bootstrap',
            'ngAnimate']);
    })(angular, window.KB || {} );
</script>
<script src="../library/dev/js/constants/global-constants.js"></script>
<script src="../library/dev/js/factories/model-factory.js"></script>
<script src="../library/dev/js/controller/repo-controller.js"></script>